**/key
**/key.pub
**/charts/api_access_try.txt
**/charts/cert-manager-v1.0.0-alpha.1.tgz
**/charts/client_secrets.json
**/charts/grafana-5.5.5.tgz
**/charts/key.json
**/.history/
**/.terraform/
**/terraform.tfstate*
**/*.swp
**/*.bak
**/gcp_jenkins/terraform.tfvars
**/kubeconfig
